<body id="izn3">
  <div id="default-editor-page__placeholder" class="panel">
    <section class="wrapper bg-gradient-primary">
      <nav class="navbar navbar-expand-lg">
  <link rel="stylesheet" href="https://coscdn.htmlpage.cn/vip-tpl/assets/css/plugins.css"/>
    <link rel="stylesheet" href="https://coscdn.htmlpage.cn/vip-tpl/assets/css/style.css"/>
        <div id="navbarNav5" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a href="{{url_for('studentpage')}}" class="nav-link">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('bookspage')}}" class="nav-link">图书</a>
            </li>
            <li class="nav-item">
              <a href="{{url_for('mygroup_student')}}" class="nav-link">圈子</a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end ml-auto">
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
          </ul>
          <a href="{{url_for('user_detail')}}" class="btn ml-md-3">个人信息</a>
        </div>
      </nav>
      <div class="container py-18 pt-md-14 pb-md-14">
        <div class="row text-center">
          <div class="col-lg-9 col-xxl-7 mx-auto">
            <link rel="stylesheet" href="https://coscdn.htmlpage.cn/bootstrap/css/bootstrap.min.css"/>
            <header data-block-type="headers" data-id="1">
              <div class="container">
              </div>
            </header>
            <h2 class="display-1 mb-4">
              <div>
                <span id="ikmzx">“ </span>
                <span id="i2jar">墨韵 </span>
                <span id="iizeg">“ </span>
                <span id="id8vz">读书会书籍共享平台</span>
              </div>
            </h2>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <!-- /div -->
        <div class="row mt-10">
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <section class="wrapper bg-gradient-primary">
      <div class="container pt-14 pb-8">
      </div>
    </section>
  </div>
</body>